:root {
    --primary: #dddddd;
    --dark: #333;
    --light: #fff;
    --dark_blue: #003A99;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.5);
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--primary);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: var(--dark_blue) 5px solid;
    padding: 1rem;
    height: 2em;
}

header img {
    width: 25rem;
}


.link a {
    text-decoration: none;
    color: black;
    border: 2px black solid;
    padding: .8em;
    border-radius: 2em;
}

.link a:hover {
    background-color: black;
    color: var(--primary);
}

@media (max-width: 900px) {
    header img {
        display: none;
    }
}  


/* footer section  */

footer {
    margin-top: 3em;
    padding: 3em;
    border-top: var(--dark_blue) 5px solid;
    display: flex;
}
