<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/contact.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/html/home1.html" class="NC_logo">
            <img src="../images/NC_Logo2.jpg" alt="northern cycle logo">
        </a>
        <div class="link home">
            <a href="/html/home1.html">Home</a>
        </div>
        <div class="link rental">
            <a href="/html/rentals.html">Rental</a>
        </div>
        <div class="link services">
            <a href="/html/services.html">Services</a>
        </div>
        <div class="link events">
            <a href="/html/events.html">Events</a>
        </div>
        <div class="link contact">
            <a href="/html/contact.html">Contact</a>
        </div>
        <div class="burger_icon">

        </div>
    </header>
    
    <section class="top_section">
        <div class="left_top_section large_box">
            <div class="word_box_pr word_box">
                <h1>Park Rapids</h1>
            <p>Phone: (218)732 5971 <br>
                E-mail: NorthernCycle@charter.net</p>
            <p>Hours of Operation <br>
                -Monday - Saturday 9:00 a.m. - 5:00 p.m. <br>
                Closed Sunday</p>
            <p>100 Mill Road <br>
                Park Rapids, MN 56470</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2725.008515743061!2d-95.05399748439312!3d46.92221447914531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b7b894aa888399%3A0x4edd2fe5e07be7dd!2s100+Mill+St%2C+Park+Rapids%2C+MN+56470!5e0!3m2!1sen!2sus!4v1478886969877" frameborder="0" style="border-style: none; border-color: inherit;border-width: 0; width: 497px; height: 367px;" allowfullscreen=""></iframe>
        </div>
        <div class="right_top_section large_box">
            <div class="word_box_bem word_box">
                <h1>Bemidji</h1>
                <p>Phone: (218)751-BIKE(2453) <br>
                    E-mail: NorthernCycle@charter.net
                    </p>
                <p>Hours of Operation <br>
                    - Tuesday - Friday 9:00 a.m. - 5:00 p.m. <br>
                    - Saturday 9:00 a.m. - 3:00 p.m. <br>
                    Closed Sunday and Monday</p>
                <p>117 3rd St NW <br>
                    Bemidji, MN 56601</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d655.0522384227816!2d-94.8810400373032!3d47.47068545748845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64d73e1c711098d0!2sNorthern+Cycle!5e0!3m2!1sen!2sus!4v1478889571711" width="497" height="367" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </section>

    <footer>
        <div class="left_footer">
            <div class="facebook_img">
                <a href="https://www.facebook.com/Northern-Cycle-408908525871199/">
                    <img src="../images/fbicon.jpg" alt="facebook logo">
                </a>
            </div>
        </div>
        <div class="right_footer">
            <h1>Related Resources</h1>
            <ul>
                <li>
                    <a href="http://itascatur.org/">Itascatur Outdoor Activity Club</a>
                </li>
                <li>
                    <a href="https://detroitmountain.com/">Detroit Mountain Activity Area</a>
                </li>
                <li>
                    <a href="https://www.cuyunalakesmtb.com/">Cuyuna Lakes Mountain Bike Club</a>
                </li>
                <li>
                    <a href="http://www.bikebemidji.com/">Bemidji Area Biking</a>
                </li>
                <li>
                    <a href="https://www.paulbunyantrail.com/">Paul Bunyan Trail</a>
                </li>
                <li>
                    <a href="https://mntrails.com/poi/heartland-trail">Heartland Trail</a>
                </li>
                <li>
                    <a href="https://www.peopleforbikes.org/">Bikes Belong</a>
                </li>
            </ul>
        </div>

    </footer>

</body>
</html>