{% extends 'NC_website/NC_base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static "NC_website/styles1/contact.css"%}">
<title>Contact</title>

{% endblock %}



{% block body %}

<section class="top_section">
        <div class="left_top_section large_box">
            <div class="word_box_pr word_box">
                <h1>Park Rapids</h1>
            <p>Phone: (218)732 5971 <br>
                E-mail: NorthernCycle@charter.net</p>
            <p>Hours of Operation <br>
                -Monday - Saturday 9:00 a.m. - 5:00 p.m. <br>
                Closed Sunday</p>
            <p>100 Mill Road <br>
                Park Rapids, MN 56470</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2725.008515743061!2d-95.05399748439312!3d46.92221447914531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b7b894aa888399%3A0x4edd2fe5e07be7dd!2s100+Mill+St%2C+Park+Rapids%2C+MN+56470!5e0!3m2!1sen!2sus!4v1478886969877" frameborder="0" style="border-style: none; border-color: inherit;border-width: 0; width: 497px; height: 367px;" allowfullscreen=""></iframe>
        </div>
        <div class="right_top_section large_box">
            <div class="word_box_bem word_box">
                <h1>Bemidji</h1>
                <p>Phone: (218)751-BIKE(2453) <br>
                    E-mail: NorthernCycle@charter.net
                    </p>
                <p>Hours of Operation <br>
                    - Tuesday - Friday 9:00 a.m. - 5:00 p.m. <br>
                    - Saturday 9:00 a.m. - 3:00 p.m. <br>
                    Closed Sunday and Monday</p>
                <p>117 3rd St NW <br>
                    Bemidji, MN 56601</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d655.0522384227816!2d-94.8810400373032!3d47.47068545748845!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x64d73e1c711098d0!2sNorthern+Cycle!5e0!3m2!1sen!2sus!4v1478889571711" width="497" height="367" frameborder="0" style="border:0" allowfullscreen=""></iframe>
        </div>
    </section>

{% endblock %}


