{% extends 'NC_website/NC_base.html' %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static "NC_website/styles1/events.css"%}">
<title>Events</title>

{% endblock %}



{% block body %}

<section class="top_section">
        <div class="left_section_top">
            {% load static %}
            <img src="{% static "NC_website/media/AlaskaFatBike.jpg" %}" alt="Alaska Bike Ride">
        </div>
        <div class="right_section_top">
            <h1>Camaraderie conquers all</h1>
            <p>At 9:00 a.m. in Palmer, Alaska, the sun is just beginning to peek over the horizon, 
                casting a bright yellow light on the tops of the towering evergreens dipping under 
                the weight of the previous night’s snow. Here, at a trailhead beside the frozen 
                riverbank, ten women have come together to brave the biting -2°F temps and 
                unrelenting Alaskan wilderness for a 40-mile out-and-back fat bike ride to Knik 
                Glacier. Heather Campfield, a local Trek Women’s Advocate who organizes weekly 
                ride outings in the area, prepares to lead the charge.</p>
        </div>
        
    </section>
    <section class="bottom_section">
        <div class="bottom_section_title">
            <h1>Calendar of Events</h1>
        </div>
        
        <table>
            <tr>
                <th>Date</th>
                <th>Event</th>
            </tr>
            <tr>
                <td>Jun 2nd</td>
                <td><a href="#"> Detroit Moutian Shakedown (Detroit Lakes, MN)</a></td>
            </tr>
            <tr>
                <td>
                    Jun 15th
                </td>
                <td>
                    <a href="#">Loop the Lake (Bemidji, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Jun 29th
                </td>
                <td>
                    <a href="#">Lutsen 99er (Lutsen, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Aug 10th
                </td>
                <td>
                    <a href="#">Northwoods Triathlon (Nevis, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Sep 28th
                </td>
                <td>
                    <a href="#">Headwaters 100 (Park Rapids, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Oct 12th
                </td>
                <td>
                    <a href="#">Oremageddon (Ironton, MN)</a>
                </td> 
            </tr>
        </table>
    </section>

{% endblock %}

