<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/events.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/html/home1.html" class="NC_logo">
            <img src="../images/NC_Logo2.jpg" alt="northern cycle logo">
        </a>
        <div class="link home">
            <a href="/html/home1.html">Home</a>
        </div>
        <div class="link rental">
            <a href="/html/rentals.html">Rental</a>
        </div>
        <div class="link services">
            <a href="/html/services.html">Services</a>
        </div>
        <div class="link events">
            <a href="/html/events.html">Events</a>
        </div>
        <div class="link contact">
            <a href="/html/contact.html">Contact</a>
        </div>
        <div class="burger_icon">

        </div>
    </header>
    <section class="top_section">
        <div class="left_section_top">
            <img src="/images/AlaskaFatBike.jpg" alt="">
        </div>
        <div class="right_section_top">
            <h1>Camaraderie conquers all</h1>
            <p>At 9:00 a.m. in Palmer, Alaska, the sun is just beginning to peek over the horizon, 
                casting a bright yellow light on the tops of the towering evergreens dipping under 
                the weight of the previous night’s snow. Here, at a trailhead beside the frozen 
                riverbank, ten women have come together to brave the biting -2°F temps and 
                unrelenting Alaskan wilderness for a 40-mile out-and-back fat bike ride to Knik 
                Glacier. Heather Campfield, a local Trek Women’s Advocate who organizes weekly 
                ride outings in the area, prepares to lead the charge.</p>
        </div>
        
    </section>
    <section class="bottom_section">
        <div class="bottom_section_title">
            <h1>Calendar of Events</h1>
        </div>
        
        <table>
            <tr>
                <th>Date</th>
                <th>Event</th>
            </tr>
            <tr>
                <td>Jun 2nd</td>
                <td><a href="#"> Detroit Moutian Shakedown (Detroit Lakes, MN)</a></td>
            </tr>
            <tr>
                <td>
                    Jun 15th
                </td>
                <td>
                    <a href="#">Loop the Lake (Bemidji, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Jun 29th
                </td>
                <td>
                    <a href="#">Lutsen 99er (Lutsen, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Aug 10th
                </td>
                <td>
                    <a href="#">Northwoods Triathlon (Nevis, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Sep 28th
                </td>
                <td>
                    <a href="#">Headwaters 100 (Park Rapids, MN)</a>
                </td> 
            </tr>
            <tr>
                <td>
                    Oct 12th
                </td>
                <td>
                    <a href="#">Oremageddon (Ironton, MN)</a>
                </td> 
            </tr>
        </table>
    </section>

    <footer>
        <div class="left_footer">
            <div class="facebook_img">
                <a href="https://www.facebook.com/Northern-Cycle-408908525871199/">
                    <img src="../images/fbicon.jpg" alt="facebook logo">
                </a>
            </div>
        </div>
        <div class="right_footer">
            <h1>Related Resources</h1>
            <ul>
                <li>
                    <a href="http://itascatur.org/">Itascatur Outdoor Activity Club</a>
                </li>
                <li>
                    <a href="https://detroitmountain.com/">Detroit Mountain Activity Area</a>
                </li>
                <li>
                    <a href="https://www.cuyunalakesmtb.com/">Cuyuna Lakes Mountain Bike Club</a>
                </li>
                <li>
                    <a href="http://www.bikebemidji.com/">Bemidji Area Biking</a>
                </li>
                <li>
                    <a href="https://www.paulbunyantrail.com/">Paul Bunyan Trail</a>
                </li>
                <li>
                    <a href="https://mntrails.com/poi/heartland-trail">Heartland Trail</a>
                </li>
                <li>
                    <a href="https://www.peopleforbikes.org/">Bikes Belong</a>
                </li>
            </ul>
        </div>

    </footer>
    
</body>
</html>