{% extends "NC_website/NC_base.html" %}

{% block head %}

    {% load static %}
    <link rel="stylesheet" href="{% static "NC_website/styles1/home2.css" %}">
    <title>Home page</title>

{% endblock %}

{% block body %}
    
    <section class="top_section">
        <div class="front_building_img">
            {%load static%} <img src={% static "NC_website/media/frontofbuilding1.jpg" %} alt="front of building">
        </div>
        <div class="outer_right_box">
            <div class="top_box box">
                    <H1 class="box_item1">Welcome Explorers</H1>
                    <p class="box_item2">Full service bike shop. <br> Servicing northern MN for 23 years.</p>
            </div>
            <div class="bottom_box box">

                    <h2 class="box_item3">Need Help!</h2>
                    <p class="box_item4">Contact us <a href="/NC_website/contact">Here</a></p>
            </div>
        </div>

    </section>
    <section class="bottom_section">
        
        <div class="help_wanted_section">
            <h1>Help Wanted!</h1>
            <p>Northern Cycle Bemidji is hiring an experienced mechanic. <br>For more information contact

                Todd at (218) 366-1458 or northerncycle@charter.net</p>
        </div>
        <div class="work_bench_img">
            {% load static %}
            <img src={% static "NC_website/media/RepairStand.jpg" %} alt="work bench">
        </div>
    </section>

{% endblock %} 