{% extends "NC_website/NC_base.html" %}

{% block head %}

{% load static %}
    <link rel="stylesheet" href="{% static "NC_website/styles/rentals.css" %}">
    <title>Rental</title>

{% endblock %}



{% block body %}

<div class="top_section">
        <div class="top_wrapper">
            <div class="rental_description">
                <h1>Rental Rates</h1>
                <p>We are located on the Heartland trail which provides many miles of paved trails 
                for your enjoyment. <br> We have bike to rent for many riders and styles.
                Reservations are suggested to make sure we have <br> a bike in your size.</p>
            </div>
            <div class="rental_rates">
                <div class="rental_box one">
                    <h2>Test Drive</h2>
                    <div class="inside_box">
                        <p>$6/hr</p>
                    </div>
                </div>
                <div class="rental_box two">
                    <h2>Day Trip</h2>
                    <div class="inside_box">
                        <p>$20/4hr</p>
                    </div>
                </div>
                <div class="rental_box three">
                    <h2>Overnight</h2>
                    <div class="inside_box">
                        <p>$36/day</p>
                    </div>
                </div>
                <div class="rental_box four">
                    <h2>Expedition</h2>
                    <div class="inside_box">
                        <p>$135/week</p>
                    </div>
                </div>
            </div>
        </div>
        
        
        
    </div>

    <div class="bottom_section">
        <img src="../images/PaulBunyanHeartlandTrail.jpg" alt="Paul Bunyan Heart and Trail">
    </div>

{% endblock %}


