{% extends "NC_website/NC_base.html" %}

{% block head %}

{% load static %}
<link rel="stylesheet" href="{% static "NC_website/styles/services.css" %}">
<title>Document</title>

{% endblock %}



{% block body %}

<section class="top_section">
        <div class="services_box">
            <div class="service_title_area">
                <h1 class="services_title">Services</h1>
            </p>
            </div>
            
            <div class="box_area">
                <div class="box basic">
                    <h1>Basic Tune Up</h1>
                    <h2>$70</h2>
                    
                    <ul>
                        <p>Includes:</p>
                        <li>Brake Adjustment</li>
                        <li>Shifting Adjustment</li>
                        <li>Hub, Bottom Bracket and 
                            Headset Adjustment</li>
                        <li>Lubrication</li>
                        <li>Frame Cleaning</li>
                        <li>Bolt Tension Inspection</li>
                        <li>Wheel Alignment</li>
                    </ul>
                    <!-- <p>Includes:<br>
                        -Brake Adjustment
                        -Shifting Adjustment
                        -Hub, Bottom Bracket and 
                              Headset Adjustment
                        -Lubrication
                        -Frame Cleaning
                        -Bolt Tension Inspection
                        -Wheel Alignment
                    </p> -->
                </div>
                <div class="box deluxe">
                    <h1>Deluxe Tune Up</h1>
                    <h2>$100</h2>
                    <ul>
                        <p>Includes:</p>
                        <li>Everything included in 
                            the Basic Tune Up</li>
                            <li>
                                Drivetrain Cleaning
                            </li>
                            <li>
                                A little extra loving
                            </li>
                    </ul>
                </div>
                <div class="box overhaul">
                    <h1>Overhaul</h1>
                    <h2>$200</h2>
                    <ul>
                        <p>Includes:</p>
                        <li>
                            Remove all components 
                            from the frame
                       </li>
                       <li>
                        Inspect and clean 
                            all components
                       </li>
                       <li>
                        Lube, Install, and adjust 
                            all components
                       </li>
                       <li>
                        Alot of loving
                       </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ending_tag">
            <p class="ending_note">Call for pricing on other services. <br> Contact us <a href="/html/contact.html">Here</a> 
        </div>
        
    </section>

{% endblock %}

