<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="3d_image">

        </div>
        <div class="right_title">
            <h1>Kyle Stinar</h1>
            <h2>Front End Developer</h2>
        </div>

    </header>
    <div class="main_body">
        <div class="portfolio_section">
            <div class="project_boxs basic">
                <a href="/NC_website"><h1>Redisign Companies Website</h1></a>
                <h2>Using only html and css to redisign</h2>
            </div>
            <div class="project_boxs personal">

            </div>
            <div class="project_boxs stocks">

            </div>
        </div>
    </div>

    <footer>

    </footer>
</body>
</html>